<h1>プラン詳細</h1>

<div class="travel">
  <p><%= @travel.planname %></p>
  <p><%= @travel.created_at %></p>
</div>

<%= link_to "編集する", edit_travel_path(@travel.id) %>

<%= link_to "投稿一覧に戻る", travels_path %>