<%= stylesheet_link_tag 'toppage', :media => "all" %>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

  <!--  コンテンツを一旦仮置きする  -->
<section id="first-block">
     <div class="title-container">
      <h1>じょいたび</h1>
      <h3>~ 旅行の計画をもっと簡単に ~</h3>
     
    
     <ul>
     <li><%= link_to "ログイン", travels_path %></li>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     </ul>
     </div>
 </section>

<section id="second-block">
    <p class="info-title">
     About じょいたび
    </p>
    
      <p class="info-explain">
       じょいたびはしおりを作る前段階の計画書を作成します
      </p>
      <br>
    <div class="about-container">
      <p class="info-text">
        <b>旅行にはしおりが必須</b>
        <br>
       <span class="font-small">
         みなさんは旅行の計画をどのように作成しますか？
         <br>
         一人旅であれば自由気ままに動けます。
         <br>
         しかし、複数人もしくは大人数の旅行では予約や旅行計画がないとせっかくの旅行が十分に楽しめません…
       </span>
      </p>

      <p class="info-text">
        <b>しおりの前は？</b>
        <br>
        <span class="font-small">
        しおりを作る前にはたくさんの情報を集めなければ
        <br>
        スマホのメモ機能やwordなどを使ってメモを集めると情報がごちゃごちゃに
        </span>
      </p>

      <p class="info-text">
        <b>初心者には大変…</b>
        <br>
        <span class="font-small">
        頑張って作ろうにも大人数の旅行の計画を普段たてない人にはどこから始めればいいのか分からない…
        <br>
        他の誰かに任せっきりに…
        </span>
      </p>
    </div>
      <br>
      <br>
      <p class="about-text2">
       <b>メモ以上しおり以下の’じょいたび’</b>
       <br>
        <span class="font-small2">
         メモ以上しおり以下のじょいたびがあれば、旅行の計画がスムーズに！
        <br>
         無駄なデザインや飾りは無いけれど、必要な情報だけが詰まっている！
        <br>
         初めての人でも簡単に旅行の計画を作成できる！
        <br>
        投稿機能で他の人の旅行計画も参考に！
        </span>
      </p>
</section>

 <section id="third-block">
     <p class="info-title2">
      How To じょいたび
     </p>
    </section>
  <!--  コンテンツはここまで  -->

    <footer>
      <p>Copyright © ○○○○ All Rights Reserved.</p>
    </footer>
  </body>
</html>
